.content {
  background-color: lightcyan;
}
.content p{
  color: black;
}

body{
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    max-width: 1000px;
    margin: auto;
}
